<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Invition Application</title>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav"  name="mainNav">
    <div class="container">
      <a class="uk-navbar-brand js-scroll-trigger" name="Home" href="#page-top">Home</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
          <li class="nav-item">
              <a class="nav-link navbar-light js-scroll-trigger" name="services" href="#services">Services</a>
          </li>
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" name="contact" href="#contact">Contact</a>
           
          </li>
         
          <li class="nav-item">
              <a class="nav-link js-scroll-trigger" name="about" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger"   *ngIf="!user" name="login" href="/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" *ngIf="user" (click) = "logout()" name="logout" >{{ user.displayName }} Logout</a>
      </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" name="Register" routerLink="/cust-reg">Register</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">Your Favorite APP</h1>
          <!-- <hr class="divider my-4"> -->
        </div>
        <div class="col-lg-8 align-self-baseline">
         
        </div>
      </div>
    </div>
  </header>

 

  <!-- Services Section -->
  <section class="page-section"  id="services">
    <div class="container">
     
    </div>
  </section>



  <!-- Call to Action Section -->
  <section class="page-section bg-dark text-white" id="about">
    <div class="container text-center">
      <!-- <h2 class="mb-4">Free Download at Start Bootstrap!</h2> -->
    </div>
  </section>

  <!-- Contact Section -->
  <section class="page-section" id="contact">
    <div class="container">
    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5" class="mt-auto">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2019 - Invitation App</div>
    </div>
  </footer>

</body>

</html>
